body {
    background-image: url("images/img2.jpg");
    background-size: 1500px 800px;
    background-repeat: no-repeat;
}

#menu {
    background-color: transparent;
    padding: 20px 10px;
}

#menu li {
    display: inline-block;
}

#menu ul {
    margin: 0px;
    padding: 0px;
}

#menu li a {
    display: inline-block;
    padding: 15px 13px;
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    background: blueviolet;
    color: white;
}

#login {
    text-align: right;
}

#content {
    color: white;
    width: 542px;
    height: 160px;
    font-family: Montserrat;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}

#content2 {
    color: white;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
}

#login {
    margin: 0px 10px;
    float: right;
}

#member {
    background-color: #23A6F0;
    margin: 0px 10px;
    width: 78px;
    height: 48px;
    text-align: left;
    float: inherit;
    border-radius: 5px;
}

#join {
    background-color: #23A6F0;
    width: 100px;
    height: 25px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    border-radius: 5px;
}

#box {
    background-color: whitesmoke;
    display: inline-block;
    width: 328px;
    padding: 35px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0px 13px 19px 0px;
}

#box2 {
    background-color: #23A6F0;
    display: inline-block;
    width: 328px;
    padding: 35px 40px;
    margin: 20px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0px 13px 19px 0px;
    width: 33.33%;
    box-sizing: border-box;
}

#box3 {
    background-color: white;
    display: inline-block;
    width: 328px;
    padding: 35px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0px 13px 19px 0px;
}

#market {
    background-color: #FFDCD1;
    width: 52px;
    position: relative;
    height: 40px;
}

#access {
    background-color: #2A7CC7;
    width: 52px;
    position: relative;
    height: 40px;
}
#training{
    background-color: #B9EAA8;
    width: 52px;
    position: relative;
    height: 40px;
}